body {
    overflow: visible !important;
    padding: 20px;
}

/* To give more padding at the end of each section */
section {
    margin-bottom: 40px;
}

/* Personal information section uses Description List */
dl {
    display: grid;
    grid-template-columns: max-content auto;
}

dt {
    grid-column-start: 1;
}

dd {
    grid-column-start: 2;
    min-height: 2em;
}

/* Provide border for skillset table */
table {
    border-collapse: collapse;
}

td {
    border: 2px solid #dddddd;
    padding: 8px;
}

/* Make images mobile friendly */
img {
    max-width: 100%;
    display: block;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }